.float-right {
  float: right;
  color: white;
  background-color: teal;
}

mat-card {
   padding: 20px;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}

mat-form-field{
  width: 100%;
  margin: 4px;
}

table {
  width: 100%;
}


.btnRond{
  border-radius: 50%;
  height: 60px;
}

.btn{
  background: teal;
}
