

<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span class="title-center">{{dialogData.action}} Client </span>
  </mat-toolbar-row>
</mat-toolbar>

<mat-dialog-content>
<form [formGroup]="clientForm" fxLayout="column" fxLayoutAlign="center center" style="width: 100%" >
  <div fxFlex fxLayout="column"  fxLayoutGap="20px" style="width: 100%">

    <div class="form-row">
    <mat-form-field appearance="fill"  fxFlex >
      <mat-label>Nom </mat-label>
      <input matInput formControlName="nom" required>
      <mat-error *ngIf="clientForm.controls.nom.touched && clientForm.controls.nom.invalid">
        <span *ngIf="clientForm.controls.nom.errors.required" >This field is mandatory</span>
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill"  fxFlex >
      <mat-label>Prénom </mat-label>
      <input matInput formControlName="prenom" required>
      <mat-error *ngIf="clientForm.controls.prenom.touched && clientForm.controls.prenom.invalid">
        <span *ngIf="clientForm.controls.prenom.errors.required" >This field is mandatory</span>
      </mat-error>
    </mat-form-field>
  </div>

    <mat-form-field appearance="fill"  fxFlex >
      <mat-label>Email </mat-label>
      <input matInput formControlName="email" required>
      <mat-error *ngIf="clientForm.controls.email.touched && clientForm.controls.email.invalid">
        <span *ngIf="clientForm.controls.email.errors.required" >This field is mandatory</span>
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill"  fxFlex >
      <mat-label>Téléphone </mat-label>
      <input matInput formControlName="numTel" required>
      <mat-error *ngIf="clientForm.controls.numTel.touched && clientForm.controls.numTel.invalid">
        <span *ngIf="clientForm.controls.numTel.errors.required" >This field is mandatory</span>
      </mat-error>
    </mat-form-field>

    <div formGroupName="adresse" fxFlex fxLayout="column">
      <div class="form-row">
    <mat-form-field appearance="fill"  fxFlex >
      <mat-label>Adresse 1 </mat-label>
      <input matInput formControlName="adresse1" required>
      <mat-error *ngIf="clientForm.controls.adresse.controls.adresse1.touched && clientForm.controls.adresse.controls.adresse1.invalid">
        <span *ngIf="clientForm.controls.adresse.controls.adresse1.errors.required" >This field is mandatory</span>
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill"  fxFlex >
      <mat-label>Adresse 2 </mat-label>
      <input matInput formControlName="adresse2" required>
      <mat-error *ngIf="clientForm.controls.adresse.controls.adresse2.touched && clientForm.controls.adresse.controls.adresse2.invalid">
        <span *ngIf="clientForm.controls.adresse.controls.adresse2.errors.required" >This field is mandatory</span>
      </mat-error>
    </mat-form-field>
  </div>

  <div class="form-row">

    <mat-form-field appearance="fill"  fxFlex >
      <mat-label>Ville</mat-label>
      <input matInput formControlName="ville" required>
      <mat-error *ngIf="clientForm.controls.adresse.controls.ville.touched && clientForm.controls.adresse.controls.ville.invalid">
        <span *ngIf="clientForm.controls.adresse.controls.ville.errors.required" >This field is mandatory</span>
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill"  fxFlex >
      <mat-label>Code Postal</mat-label>
      <input matInput formControlName="codePostal" required>
      <mat-error *ngIf="clientForm.controls.adresse.controls.codePostal.touched && clientForm.controls.adresse.controls.codePostal.invalid">
        <span *ngIf="clientForm.controls.adresse.controls.codePostal.errors.required" >This field is mandatory</span>
      </mat-error>
    </mat-form-field>
  </div>


    <mat-form-field appearance="fill"  fxFlex >
      <mat-label>Pays</mat-label>
      <input matInput formControlName="pays" required>
      <mat-error *ngIf="clientForm.controls.adresse.controls.pays.touched && clientForm.controls.adresse.controls.pays.invalid">
        <span *ngIf="clientForm.controls.adresse.controls.pays.errors.required" >This field is mandatory</span>
      </mat-error>
    </mat-form-field>

  </div>


  </div>
</form>
</mat-dialog-content>

<mat-dialog-actions align="center">
<button mat-raised-button color="primary" type="submit"
(click)="handleCategorySubmit()"  >{{action}}</button>
<button mat-raised-button color="accent" mat-dialog-close>Fermer</button>
</mat-dialog-actions>

