
<mat-card class="top">
  <b>
    <span *ngIf="origin === 'ventes'; else commandesBlock">Les lignes de ventes</span>
    <ng-template #commandesBlock>Les commandes</ng-template>
  </b>
     <h1> Total: {{ total}} F CFA </h1>
</mat-card>
<hr>
<mat-card>
  <div fxFlex fxLayout="column">
<div class="responsive_table">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="code">
       <th mat-header-cell *matHeaderCellDef>Code</th>
       <td mat-cell *matCellDef="let element">{{element.article?.codeArticle}}</td>
      </ng-container>
      <ng-container matColumnDef="unite">
       <th mat-header-cell *matHeaderCellDef>Unité</th>
       <td mat-cell *matCellDef="let element">{{element.unite}}</td>
      </ng-container>
      <ng-container matColumnDef="quantite">
       <th mat-header-cell *matHeaderCellDef>Quantite</th>
       <td mat-cell *matCellDef="let element">{{element.quantite}}</td>
      </ng-container>
      <ng-container matColumnDef="prixUnitaire">
        <th mat-header-cell *matHeaderCellDef>Prix Unitaire</th>
        <td mat-cell *matCellDef="let element">{{element.prixUnitaire}}</td>
       </ng-container>
        <ng-container matColumnDef="total">
        <th mat-header-cell *matHeaderCellDef>Total</th>
        <td mat-cell *matCellDef="let element">{{element.prixUnitaire * element.quantite }}</td>
       </ng-container>

       <!-- <ng-container matColumnDef="etat">
         <th mat-header-cell *matHeaderCellDef>Etat</th>
         <td mat-cell  *matCellDef="let element"  [ngClass]="{
           'is-red': !element.etat,
           'is-green': element.etat
         }"> {{getStatus(element?.etat)}} </td>
        </ng-container> -->


      <ng-container matColumnDef="action">
       <th mat-header-cell *matHeaderCellDef>Action</th>
       <td mat-cell *matCellDef="let element" class="action-link" >
         <button mat-icon-button color="btn" matTooltip="Modifier" (click)="handleEdit(element)" >
           <mat-icon>edit</mat-icon>
         </button>
         <!-- <button mat-icon-button style="color:#026467" matTooltip="Voir details" [routerLink]="['/workspace/radios/',element.id]" >
           <mat-icon>remove_red_eye</mat-icon>
         </button> -->
         <button mat-icon-button color="accent" matTooltip="Supprimer" (click)="handleDelete(element)" >
          <mat-icon>delete</mat-icon>
        </button>
        <!-- <button mat-icon-button color="primary"  matTooltip="voir la facture" (click)="handleFacture(element)" >
          <mat-icon>upload_file</mat-icon>
        </button> -->
       </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayColumns;sticky:true"></tr>
      <tr mat-row *matRowDef="let row;columns:displayColumns"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                showFirstLastButtons
                aria-label="commandes">
 </mat-paginator>
</div>
</div>
</mat-card>
<hr>
