.float-right {
  float: right;

  color: var(--secondary-color);
  background-color: var(--primary-color);
}

mat-card {
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

mat-form-field{
  width: 100%;
}

.top{
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

table {
  width: 100%;
}

h1{
  color: rgb(246, 34, 76);
}


.btn{
  background: var(--primary-color);
  width: 100%;
  color: white;
}

.is-yello{
  background:#fee103;
  color: whitesmoke;
}

.is-red{
  background:crimson;

}


.is-green{
  background:#026467;
  color: whitesmoke;

}

.mat-form-field{
  margin-left: 10px;
}
.btn{
  background: teal;
}

.filter-field {
  flex: 1;
  margin-right: 10px;
}
.button-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}
