<div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="16px grid">
  <mat-card fxFlex="100%" fxFlex.lt-md="calc(50% - 8px)" fxFlex.lt-sm="100%" >
    <mat-card-header>
      <mat-card-title> ARTICLES </mat-card-title>
      <mat-card-subtitle>les articles</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>{{totalArticles}}</p>
    </mat-card-content>
  </mat-card>

  <mat-card fxFlex="100%" fxFlex.lt-md="calc(50% - 8px)" fxFlex.lt-sm="100%" >
    <mat-card-header>
      <mat-card-title>Title 2</mat-card-title>
      <mat-card-subtitle>Subtitle 2</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>Content 2</p>
    </mat-card-content>
  </mat-card>

  <mat-card fxFlex="100%" fxFlex.lt-md="calc(50% - 8px)" fxFlex.lt-sm="100%" >
    <mat-card-header>
      <mat-card-title>Title 3</mat-card-title>
      <mat-card-subtitle>Subtitle 3</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>Content 3</p>
    </mat-card-content>
  </mat-card>

  <mat-card fxFlex="100%" fxFlex.lt-md="calc(50% - 8px)" fxFlex.lt-sm="100%" >
    <mat-card-header>
      <mat-card-title>Title 4</mat-card-title>
      <mat-card-subtitle>Subtitle 4</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>Content 4</p>
    </mat-card-content>
  </mat-card>
</div>
