
<!-- //routerLink="/workspace/dashboard/addCategory" -->
<mat-card>
  <b> <span>Gestion des ventes</span> </b>
  <!-- <button mat-flat-button  color="primary" (click)="handleAdd()" >Ajouter une sous-catégorie</button> -->
</mat-card>


<hr>
<mat-card>
  <div fxFlex fxLayout="column">

   <form [formGroup]="comVenteForm">
    <div fxLayout="row wrap"  >

      <!-- <mat-form-field appearance="fill"  fxFlex >
        <mat-label>Code</mat-label>
        <input matInput formControlName="code" required>
        <mat-error *ngIf="comVenteForm.controls.code.touched && comVenteForm.controls.code.invalid">
          <span *ngIf="comVenteForm.controls.code.errors.required" >This field is mandatory</span>
        </mat-error>
      </mat-form-field> -->
      <mat-form-field appearance="fill" fxFlex>
        <mat-label>Mode Payement</mat-label>
        <mat-select formControlName="mode">
          <mat-option *ngFor="let c of dataModePayement" [value]="c"> {{c.code}} </mat-option>
        </mat-select>
        <!-- Rest of your code... -->
      </mat-form-field>
      <div fxLayout="row wrap" formGroupName="ligneVentes"  >

        <mat-form-field appearance="fill" fxFlex>
          <mat-label>Article</mat-label>
          <mat-select formControlName="article" (selectionChange)="onChange($event.value)">
            <mat-option *ngFor="let c of dataConditions" [value]="c"> {{c.article.codeArticle}} </mat-option>
          </mat-select>
          <!-- Rest of your code... -->
        </mat-form-field>

        <mat-form-field appearance="fill" fxFlex>
          <mat-label>Unite</mat-label>
          <mat-select formControlName="unite" (selectionChange)="onUniteSelected($event.value)">
            <mat-option *ngFor="let c of dataUnites" [value]="c"> {{c.nom}} </mat-option>
          </mat-select>
          <!-- Rest of your code... -->
        </mat-form-field>


        <mat-form-field appearance="fill"  fxFlex >
          <mat-label>Quantité</mat-label>
          <input matInput formControlName="quantite" required>
          <mat-error *ngIf="comVenteForm.controls.ligneVentes.controls.quantite.touched && comVenteForm.controls.ligneVentes.controls.quantite.invalid">
            <span *ngIf="comVenteForm.controls.ligneVentes.controls.quantite.errors.required" >This field is mandatory</span>
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill"  fxFlex >
          <mat-label>Prix Unitaire</mat-label>
          <input matInput formControlName="prixUnitaire" [value]="selectedArticle.prixUnitaireTtc">
          <mat-error *ngIf="comVenteForm.controls.ligneVentes.controls.prixUnitaire.touched && comVenteForm.controls.ligneVentes.controls.prixUnitaire.invalid">
            <span *ngIf="comVenteForm.controls.ligneVentes.controls.prixUnitaire.errors.required" >This field is mandatory</span>
          </mat-error>
        </mat-form-field>



          <button mat-raised-button color="primary" class="btnRond" (click)="addLigneVente()"  mat-dialog-close>
            <div>
              <mat-icon class="mat-icon-lg" style="font-size: 54px;display: flex;justify-content: center;align-items: center;" >add</mat-icon>
            </div>
          </button>
        </div>


    </div>
   </form>
   <div class="responsive_table">
    <table mat-table [dataSource]="dataVenteSource" class="mat-elevation-z8">
      <ng-container matColumnDef="code">
        <th mat-header-cell *matHeaderCellDef>Code</th>
        <td mat-cell *matCellDef="let element">{{element.article?.codeArticle}}</td>
       </ng-container>
       <ng-container matColumnDef="unite">
        <th mat-header-cell *matHeaderCellDef>Unité</th>
        <td mat-cell *matCellDef="let element">{{element.unite}}</td>
       </ng-container>
       <ng-container matColumnDef="quantite">
        <th mat-header-cell *matHeaderCellDef>Quantite</th>
        <td mat-cell *matCellDef="let element">{{element.quantite}}</td>
       </ng-container>
       <ng-container matColumnDef="prixUnitaire">
         <th mat-header-cell *matHeaderCellDef>Prix Unitaire</th>
         <td mat-cell *matCellDef="let element">{{element.prixUnitaire}}</td>
        </ng-container>

        <ng-container matColumnDef="action">
         <th mat-header-cell *matHeaderCellDef>Action</th>
         <td mat-cell *matCellDef="let element" class="action-link" >

           <button mat-icon-button color="accent" matTooltip="Supprimer" (click)="handleDelete(element)" >
            <mat-icon>delete</mat-icon>
          </button>
         </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayColumnVentes;sticky:true"></tr>
        <tr mat-row *matRowDef="let row;columns:displayColumnVentes"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                  showFirstLastButtons
                  aria-label="commandes">
   </mat-paginator>
 </div>
 <hr>
 <mat-card fxFlex fxLayout="column">
          <mat-card-title  >Total : {{totalCommande}}</mat-card-title>
  <button mat-raised-button class="btn"  color="primary" (click)="handleAdd()" mat-dialog-close>Enregistrer</button>
</mat-card>
  </div>



</mat-card>
<!--
<hr>
<mat-card>
  <mat-form-field appearance="fill" >
    <mat-label>Filtrer</mat-label>
    <input matInput (keyup)="applyFilter($event)" #input>
  </mat-form-field>
</mat-card> -->
<hr>

<mat-accordion  *ngFor="let element of dataVentes" >
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{element.code}}
      </mat-panel-title>
      <mat-panel-description>
        {{element.dateVente | date: 'dd/MM/yyyy' }}
      </mat-panel-description>
      <mat-panel-description>
        <button mat-icon-button color="accent" matTooltip="Supprimer" (click)="handleDelete(element)" >
          <mat-icon>delete</mat-icon>
        </button>
        <br/>
        <br/>
        <button mat-icon-button color="primary" matTooltip="voir les lignes de ventes" (click)="handleView(element)" >
          <mat-icon>arrow_forward</mat-icon>
        </button>
      </mat-panel-description>
    </mat-expansion-panel-header>
     <app-details-lignes-commandes [idCommande]="element?.id" [origin]="" ></app-details-lignes-commandes>
  </mat-expansion-panel>
</mat-accordion>

<!-- <div class="responsive_table">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <ng-container matColumnDef="code">
       <th mat-header-cell *matHeaderCellDef>Code</th>
       <td mat-cell *matCellDef="let element">{{element.code}}</td>
      </ng-container>

      <ng-container matColumnDef="dateVente">
        <th mat-header-cell *matHeaderCellDef>Date vente</th>
        <td mat-cell *matCellDef="let element">{{element.dateVente | date: 'dd/MM/yyyy'}}</td>
       </ng-container>

       <ng-container matColumnDef="commentaire">
        <th mat-header-cell *matHeaderCellDef>Commentaire</th>
        <td mat-cell *matCellDef="let element">{{element.commentaire }}</td>
       </ng-container>


      <ng-container matColumnDef="action">
       <th mat-header-cell *matHeaderCellDef>Action</th>
       <td mat-cell *matCellDef="let element" class="action-link" >
         <button mat-icon-button color="primary" matTooltip="Modifier" (click)="handleEdit(element)" >
           <mat-icon>edit</mat-icon>
         </button>
         <button mat-icon-button color="accent" matTooltip="Supprimer" (click)="handleDelete(element)" >
           <mat-icon>delete</mat-icon>
         </button>
         <button mat-icon-button  matTooltip="Voir détails" (click)="handleDetails(element)" >
          <mat-icon>list</mat-icon>
        </button>

       </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayColumns;sticky:true"></tr>
      <tr mat-row *matRowDef="let row;columns:displayColumns"></tr>
  </table>
</div> -->

