// custom-theme.scss

@import '@angular/material/theming';



$primary: mat-palette($mat-teal, 500);
$secondary: mat-palette($mat-crimson, 500);

$custom-theme: mat-light-theme((
  color: (
    primary: $primary,
    secondary: $secondary,
  )
));

@include mat-core();
@include angular-material-theme($custom-theme);
