

// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.
@import '@angular/material/theming';

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$stockClient-primary: mat-palette($mat-teal, 900);
$stockClient-accent: mat.define-palette(mat.$red-palette, 900);
$stockClient-secondary: mat.define-palette(mat.$amber-palette, 500);

// The warn palette is optional (defaults to red).
$stockClient-warn: mat.define-palette(mat.$grey-palette,500);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$stockClient-theme: mat.define-light-theme((
  color: (
    primary: $stockClient-primary,
    accent: $stockClient-accent,
    warn: $stockClient-warn,
    secondary: $stockClient-secondary,
  )
));



$topbar: #2196f3;
$sidebar: #fff;
$sidebar-white: #e5edef;
$sidebar-alt: #f2f6f8;
$bodycolor: #eef5f9;
$headingtext: #455a64;
$bodytext: #67757c;
$sidebar-text: #607d8b;
$sidebar-icons: #99abb4;

$font-16: 16px;

$light-text: #a6b7bf;
$themecolor: #7b1fa2;
$themecolor-alt: #7b1fa2;
$themecolor-dark: #028ee1;

/*bootstrap Color*/
$danger: #fc4b6c;
$success: #26c6da;
$warning: #ffb22b;
$primary: teal;
$info: #7b1fa2;
// $inverse: #2f3d4a;
$inverse: white;
$muted: #99abb4;
$dark: #263238;
$light: #f2f4f8;
$extra-light: #ebf3f5;
$secondary: #727b84;

/*Light colors*/
$light-danger: #f9e7eb;
$light-success: #e8fdf8;
$light-warning: #fff8ec;
$light-primary: #f1effd;
$light-info: #e3f3fd;
$light-inverse: #f6f6f6;
$light-megna: #e0f2f4;

$danger-dark: #e6294b;
$success-dark: #1eacbe;
$warning-dark: #e9ab2e;
$primary-dark: #6352ce;
$info-dark: #028ee1;
$red-dark: #d61f1f;
$inverse-dark: #232a37;
$dark-transparent: rgba(0, 0, 0, 0.05);

/*Normal Color*/
$white: #ffffff;
$red: #fb3a3a;
$yellow: #a0aec4;
$purple: #7460ee;
$blue: #02bec9;
$megna: #00897b;

/*Extra Variable*/
$rgt: right;
$lft: left;
$border: rgba(120, 130, 140, 0.13);
$table-border: #f3f1f1;
$card-brd: #d7dfe3;
$dark-text: #848a96;
$radius: 4px;
$form-brd: #d9d9d9;


:root {
  --primary-color: teal;
  --secondary-color: white;
  --body-text-color : #596392;
  --navbar-footer-color : #F9F9F9;
}


  //responsibe table
  @media(max-width: 800px) {
    .responsive_table {
        overflow-x: auto !important;
    }

    .mat-table {
        min-width:800px;
    }
  }

  .mat-row {
    height: auto;
  }

  .mat-header-cell,.mat-cell {
    text-align: center !important;
    padding: 0px 8px 0px 15px !important;
  }

  .black-snackbar {
    background: black !important;
    color: white !important;
  }

  .green-snackbar {
    background: #00ff7f !important;
    color: black !important;
  }

  .mat-snack-bar-container {
    margin-right: auto !important;
    margin-left: auto !important;
    width: 40vw !important;
    min-width: 90% !important;
    max-width: 100vw !important;
    margin-top: 70px !important;
    padding: 20px !important;
}

.spacer {
  flex: 1 auto;
}



// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($stockClient-theme);

/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }




@import './assets/styles/sidebar';
@import './assets/styles/responsive';
@import './assets/styles/header';
@import './assets/styles/pages';
@import './assets/styles/app';
@tailwind base;
@tailwind components;
@tailwind utilities;
