
<!-- //routerLink="/workspace/dashboard/addCategory" -->
<mat-card>
  <b> <span>Rechercher le stock des articles</span> </b>
  <!-- <button mat-flat-button  color="primary" (click)="handleAdd()" >Ajouter une unité</button> -->
</mat-card>
<hr>
<form [formGroup]="filterForm" >
<mat-card>
  <mat-form-field class="filter-field" appearance="fill"  fxFlex >
    <mat-label>Article</mat-label>
    <mat-select formControlName="article"  [(ngModel)]="selectedArticle">
      <mat-option *ngFor="let u of articles" [value]="u"> {{u.codeArticle}}</mat-option>
  </mat-select>
  </mat-form-field>

  <mat-form-field class="filter-field" appearance="fill"  fxFlex >
    <mat-label>Unité</mat-label>
    <mat-select formControlName="unite">
      <mat-option *ngFor="let u of listeUnites" [value]="u"> {{u.nom}}</mat-option>
  </mat-select>
  </mat-form-field>

  <mat-form-field class="filter-field" appearance="fill"  fxFlex >
    <mat-label>Type Mouvement</mat-label>
    <mat-select formControlName="type">
      <mat-option value="entree">Entrée</mat-option>
      <mat-option value="sortie">Sortie</mat-option>   </mat-select>
  </mat-form-field>

  <div class="button-container">
    <button mat-raised-button color="primary" (click)="onSearch()" >Rechercher</button>
  </div>
</mat-card>
</form>

<hr>

<div class="responsive_table">
  <table mat-table [dataSource]="dataSourceStock" class="mat-elevation-z8">
      <ng-container matColumnDef="article">
       <th mat-header-cell *matHeaderCellDef>Article</th>
       <td mat-cell *matCellDef="let element">{{element?.name}}</td>
      </ng-container>

      <ng-container matColumnDef="stock">
        <th mat-header-cell *matHeaderCellDef>Unité</th>
        <td mat-cell *matCellDef="let element">{{element.stockInfo | json}}</td>
       </ng-container>




      <ng-container matColumnDef="action">
       <th mat-header-cell *matHeaderCellDef>Action</th>
       <td mat-cell *matCellDef="let element" class="action-link" >
         <button mat-icon-button color="primary" matTooltip="Modifier" >
           <mat-icon>edit</mat-icon>
         </button>
         <!-- <button mat-icon-button color="accent" matTooltip="Supprimer" (click)="handleDelete(element)" >
           <mat-icon>delete</mat-icon>
         </button> -->
<!--          <mat-slide-toggle (change)="onChange($event.checked,element.id)" matTooltip="Activer ou desactiver" [checked]="element.status" ></mat-slide-toggle>
 -->       </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayStockColumns;sticky:true"></tr>
      <tr mat-row *matRowDef="let row;columns:displayStockColumns"></tr>
  </table>
</div>

