
<mat-card class="top">
  <b> <span>Nouvelle commande {{origin}}</span> </b>
</mat-card>
<hr>

<mat-card>
  <div fxFlex fxLayout="column">

   <form [formGroup]="comClientForm">
    <div fxLayout="row wrap">

        <mat-form-field appearance="fill"  fxFlex >
          <mat-label>Code</mat-label>
          <input matInput formControlName="code" required>
          <mat-error *ngIf="comClientForm.controls.code.touched && comClientForm.controls.code.invalid">
            <span *ngIf="comClientForm.controls.code.errors.required" >This field is mandatory</span>
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill"  fxFlex *ngIf="origin === 'client'" >
        <mat-label>client</mat-label>
        <mat-select formControlName="clientDto"  [(ngModel)]="selectedClient">
          <mat-option *ngFor="let c of dataClients" [value]="c"> {{c.prenom}} - {{c.nom}}  </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill"  fxFlex *ngIf="origin === 'fournisseur'" >
        <mat-label>Fournisseur</mat-label>
        <mat-select formControlName="clientDto"  [(ngModel)]="selectedFournisseur">
          <mat-option *ngFor="let c of dataClients" [value]="c"> {{c.prenom}} - {{c.nom}}  </mat-option>
        </mat-select>
      </mat-form-field>

    </div>
   </form>

  </div>
</mat-card>
<hr>
<mat-card>
  <div fxFlex fxLayout="column">

   <form [formGroup]="comClientForm">
    <div fxLayout="row wrap" formGroupName="ligneCommandeClients"  >
        <mat-form-field appearance="fill"  fxFlex >
          <mat-label>Article</mat-label>
        <mat-select formControlName="article" (selectionChange)="onChange($event.value)" [(ngModel)]="selectedArticle" >
          <mat-option *ngFor="let c of dataArticles" [value]="c"> {{c.codeArticle}} </mat-option>
        </mat-select>
        <mat-error *ngIf="comClientForm.controls.ligneCommandeClients.controls.article.touched && comClientForm.controls.ligneCommandeClients.controls.article.invalid">
          <span *ngIf="comClientForm.controls.ligneCommandeClients.controls.article.errors.required" >This field is mandatory</span>
        </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill"  fxFlex >
          <mat-label>Quantité</mat-label>
          <input matInput formControlName="quantite" required>
          <mat-error *ngIf="comClientForm.controls.ligneCommandeClients.controls.quantite.touched && comClientForm.controls.ligneCommandeClients.controls.quantite.invalid">
            <span *ngIf="comClientForm.controls.ligneCommandeClients.controls.quantite.errors.required" >This field is mandatory</span>
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill"  fxFlex >
          <mat-label>Prix Unitaire</mat-label>
          <input matInput formControlName="prixUnitaire" [value]="selectedArticle.prixUnitaireTtc">
          <mat-error *ngIf="comClientForm.controls.ligneCommandeClients.controls.prixUnitaire.touched && comClientForm.controls.ligneCommandeClients.controls.prixUnitaire.invalid">
            <span *ngIf="comClientForm.controls.ligneCommandeClients.controls.prixUnitaire.errors.required" >This field is mandatory</span>
          </mat-error>
        </mat-form-field>

          <button mat-raised-button color="primary" class="btnRond" (click)="ajouterLigneCommande()"  mat-dialog-close>
            <div>
              <mat-icon class="mat-icon-lg" style="font-size: 54px;display: flex;justify-content: center;align-items: center;" >add</mat-icon>
            </div>
          </button>


    </div>
   </form>
   <div class="responsive_table">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="code">
         <th mat-header-cell *matHeaderCellDef>Code</th>
         <td mat-cell *matCellDef="let element">{{element.article?.codeArticle}}</td>
        </ng-container>
        <ng-container matColumnDef="article">
         <th mat-header-cell *matHeaderCellDef>nom Article</th>
         <td mat-cell *matCellDef="let element">{{element.article?.designation}}</td>
        </ng-container>
        <ng-container matColumnDef="quantite">
         <th mat-header-cell *matHeaderCellDef>Quantite</th>
         <td mat-cell *matCellDef="let element">{{element.quantite}}</td>
        </ng-container>
        <ng-container matColumnDef="prixUnitaire">
          <th mat-header-cell *matHeaderCellDef>Prix Unitaire</th>
          <td mat-cell *matCellDef="let element">{{element.prixUnitaire}}</td>
         </ng-container>

        <ng-container matColumnDef="action">
         <th mat-header-cell *matHeaderCellDef>Action</th>
         <td mat-cell *matCellDef="let element" class="action-link" >

           <button mat-icon-button color="accent" matTooltip="Supprimer" (click)="handleDelete(element)" >
            <mat-icon>delete</mat-icon>
          </button>
         </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayColumns;sticky:true"></tr>
        <tr mat-row *matRowDef="let row;columns:displayColumns"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                  showFirstLastButtons
                  aria-label="commandes">
   </mat-paginator>
 </div>
 <hr>
 <mat-card fxFlex fxLayout="column">
          <mat-card-title  >Total : {{totalCommande}}</mat-card-title>
  <button mat-raised-button class="btn"  color="primary" (click)="onAdd()" mat-dialog-close>Enregistrer</button>
</mat-card>
  </div>



</mat-card>

<hr>


      <!-- <mat-form-field appearance="fill"  fxFlex >
        <mat-label>Etat</mat-label>
        <mat-select formControlName="etat" (selectionChange)="onChange($event.value)">
          <mat-option  [value]="false"> EN_COURS  </mat-option>
          <mat-option  [value]="true"> TERMINE  </mat-option>
        </mat-select>
      </mat-form-field> -->
